Java_Projects/VisionDLA/resources/wsdl/salesforce/NCSC-DLAService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : NCSCDLAService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/NCSCDLAService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/NCSCDLAService">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/NCSCDLAService">
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Internal"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="AttachmentItem">
    <xsd:sequence>
     <xsd:element name="Content" minOccurs="0" type="xsd:base64Binary" nillable="true"/>
     <xsd:element name="FileDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="FileName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="FileSize" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="FileType" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AttachmentItemList">
    <xsd:sequence>
     <xsd:element name="Attachment" minOccurs="0" maxOccurs="unbounded" type="tns:AttachmentItem" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AttachmentNameList">
    <xsd:sequence>
     <xsd:element name="AttachmentName" minOccurs="0" maxOccurs="unbounded" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactInformation">
    <xsd:sequence>
     <xsd:element name="Email" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="FullName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PhoneList" minOccurs="0" type="tns:ContactPhoneList" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactPhone">
    <xsd:sequence>
     <xsd:element name="PhoneNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="PhoneType" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ContactPhoneList">
    <xsd:sequence>
     <xsd:element name="Phone" minOccurs="0" maxOccurs="unbounded" type="tns:ContactPhone" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DLAAttachment">
    <xsd:sequence>
     <xsd:element name="AttachmentList" minOccurs="0" type="tns:AttachmentItemList" nillable="true"/>
     <xsd:element name="DoDWebSDR" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="VisionDLAKey" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DLARequest">
    <xsd:sequence>
     <xsd:element name="ActionCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="AttachmentNameList" minOccurs="0" type="tns:AttachmentNameList" nillable="true"/>
     <xsd:element name="AttachmentReceivedTime" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ContactDetail" minOccurs="0" type="tns:ContactInformation" nillable="true"/>
     <xsd:element name="DiscrepancyList" minOccurs="0" type="tns:DiscrepancyItemList" nillable="true"/>
     <xsd:element name="DiscrepancyQuantity" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DocumentNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DocumentNumberSuffix" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DocumentType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DoDWebSDR" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="HasAttachment" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsDocumentNumberValid" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsDocumentSuffixValid" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="IsSubmitterDoDAACValid" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="Nomenclature" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="NSN" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="QuantityReceived" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="QuantityShipped" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="RemarksComments" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SDRType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SubmitterDetail" minOccurs="0" type="tns:SubmitterInformation" nillable="true"/>
     <xsd:element name="TotalCost" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="TransactionPurposeCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="UnitOfIssue" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="UnitPrice" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="VisionDLAKey" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WrongItemInfo" minOccurs="0" type="tns:WrongItemInformation" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DLAResponse">
    <xsd:sequence>
     <xsd:element name="FailedCount" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="FailedList" minOccurs="0" type="tns:FailedList" nillable="true"/>
     <xsd:element name="Status" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SuccessCount" minOccurs="0" type="xsd:int" nillable="true"/>
     <xsd:element name="VisionDLAKey" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WSDRStagingId" minOccurs="0" type="tns:ID" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DiscrepancyItem">
    <xsd:sequence>
     <xsd:element name="DiscrepancyCode" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DiscrepancyItemList">
    <xsd:sequence>
     <xsd:element name="Discrepancy" minOccurs="0" maxOccurs="unbounded" type="tns:DiscrepancyItem" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FailedList">
    <xsd:sequence>
     <xsd:element name="Failed" minOccurs="0" maxOccurs="unbounded" type="tns:FailedMessage" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FailedMessage">
    <xsd:sequence>
     <xsd:element name="Key" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Message" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SubmitterInformation">
    <xsd:sequence>
     <xsd:element name="Bureau" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="City" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Country" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DoDAAC" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="FullName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="State" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Street" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ZipCode" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="WrongItemInformation">
    <xsd:sequence>
     <xsd:element name="WrongItemCAGECode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WrongItemDescription" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WrongItemManufacturerName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WrongItemNSN" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WrongItemPartNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WrongItemQuantityReceived" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WrongItemUI" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ProcessAttachment">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="AttachmentRequest" type="tns:DLAAttachment" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ProcessAttachmentResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:DLAResponse" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ProcessWSDR">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="WSDRRequest" type="tns:DLARequest" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ProcessWSDRResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:DLAResponse" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="ProcessAttachmentRequest">
  <part element="tns:ProcessAttachment" name="parameters"/>
 </message>
 <message name="ProcessAttachmentResponse">
  <part element="tns:ProcessAttachmentResponse" name="parameters"/>
 </message>
 <message name="ProcessWSDRRequest">
  <part element="tns:ProcessWSDR" name="parameters"/>
 </message>
 <message name="ProcessWSDRResponse">
  <part element="tns:ProcessWSDRResponse" name="parameters"/>
 </message>
 <portType name="NCSCDLAServicePortType">
  <operation name="ProcessAttachment">
   <input message="tns:ProcessAttachmentRequest"/>
   <output message="tns:ProcessAttachmentResponse"/>
  </operation>
  <operation name="ProcessWSDR">
   <input message="tns:ProcessWSDRRequest"/>
   <output message="tns:ProcessWSDRResponse"/>
  </operation>
 </portType>
 <binding name="NCSCDLAServiceBinding" type="tns:NCSCDLAServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="ProcessAttachment">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="ProcessWSDR">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="NCSCDLAServiceService">
  <documentation></documentation>
  <port binding="tns:NCSCDLAServiceBinding" name="NCSCDLAService">
   <soap:address location="https://cs12.salesforce.com/services/Soap/class/NCSCDLAService"/>
  </port>
 </service>
</definitions>