Java_Projects/FASeSOA/Customer.Services/resources/wsdl/CustomerContact.wsdl

<wsdl:definitions name="CustomerContact"
	targetNamespace="http://fas.gsa.gov/services/Customer/v1.0"
	xmlns:tns="http://fas.gsa.gov/services/Customer/v1.0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cstmr="http://fas.gsa.gov/Customer/v1.0"
    xmlns:msg="http://fas.gsa.gov/services/Messages/v1.0" 
	xmlns:flt="http://fas.gsa.gov/Faults/v1.0">
	
	<!--  WSDL Types declarations -->	
  <wsdl:types>
    <xsd:schema targetNamespace="http://fas.gsa.gov/services/Customer/v1.0"
    						xmlns:tns="http://fas.gsa.gov/services/Customer/v1.0"
    						xmlns:cstmr="http://fas.gsa.gov/Customer/v1.0"
    						xmlns:msg="http://fas.gsa.gov/services/Messages/v1.0"  
    						xmlns:flt="http://fas.gsa.gov/Faults/v1.0"
    						xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:import namespace="http://fas.gsa.gov/Customer/v1.0" />
			<xsd:import namespace="http://fas.gsa.gov/services/Messages/v1.0" />
    	<xsd:import namespace="http://fas.gsa.gov/Faults/v1.0" />
    	
    	<xsd:element name="getContactRequest" type="msg:CustomerSearchCriteria"/>
    	<xsd:element name="getContactResponse" type="msg:ContactList"/>
    	<!--  Service fault element -->
			<xsd:element name="serviceFault"	nillable="true" type="flt:ServiceFault" />
		</xsd:schema>
  </wsdl:types>
  <!-- WSDL Message declarations -->
  <wsdl:message name="GetContactRequest">
    <wsdl:part element="tns:getContactRequest" name="getContactRequest"/>
  </wsdl:message>
  <wsdl:message name="GetContactResponse">
    <wsdl:part element="tns:getContactResponse" name="getContactResponse"/>
  </wsdl:message>
	<wsdl:message name="ServiceFault">
  	<wsdl:part element="tns:serviceFault" name="serviceFault" />
  </wsdl:message> 
    
   <!--  WSDL Port Operations --> 
  <wsdl:portType name="CustomerContact">
    <wsdl:operation name="getContactDetails">
      <wsdl:input message="tns:GetContactRequest"/>
      <wsdl:output message="tns:GetContactResponse"/>
			<wsdl:fault message="tns:ServiceFault"  name="getContactFault" />      
    </wsdl:operation>
  </wsdl:portType>
  
  <!--  WSDL Binding -->
  <wsdl:binding name="CustomerContactBinding" type="tns:CustomerContact">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getContactDetails">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
  		<wsdl:fault name="getContactFault">
  			<soap:fault use="literal" name="getContactFault" />
  		</wsdl:fault>      
    </wsdl:operation>
  </wsdl:binding>
  
  <!--  WSDL Service -->
  <wsdl:service name="CustomerContact">
    <wsdl:port binding="tns:CustomerContactBinding" name="CustomerContactBinding">
      <soap:address location="http://localhost:8080/enterprise.serivces/CustomerContact"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>