Java_Projects/FASeSOA/Vendor.Services/resources/schema/messages/VendorMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://fas.gsa.gov/services/Messages/v1.0" 
	xmlns:msg="http://fas.gsa.gov/services/Messages/v1.0" 
	xmlns:cstmr="http://fas.gsa.gov/Vendor/v1.0">
	
	<import	namespace="http://fas.gsa.gov/Vendor/v1.0"  schemaLocation="../Vendor.xsd"/>
	
	<complexType name="VendorSearchRequest">
		<sequence>
			<element name="dunsNumber" type="string"/>
			<element name="poNumber" type="string"/>
		</sequence>
	</complexType>
</schema>